
    <div class="page-padding">
      <div class="container-v1">
        <div class="section-grid faq">
          <div class="faq-pdp-header-hero">
            <h1 class="faq-pdp-section-header">{{ section.settings.titel | newline_to_br }}</h1>
            <div>{{ section.settings.paragraph | newline_to_br }}</div>
          </div>
          <div id="w-node-_5f9e950f-ec8a-b432-3b07-8b54b7ba69f2-b7ba69e9" class="_803-max">
            <div class="c-faq pdp">
              {%- for block in section.blocks -%}{%- if block.type == "faq" -%}<div data-click="faq" class="c-faq-item" block.shopify_attributes>
                <div class="c-faq-q">
                  <div class="c-faq-q-text">
                    <div class="faq-q-text">{{ block.settings.vraag | newline_to_br }}</div>
                  </div>
                  <div class="c-faq-icon">
                    <div class="horizontal-plus-line"></div>
                    <div class="vertical-plus-line"></div>
                  </div>
                </div>
                <div class="c-faq-a">
                  <div class="c-faq-a-text">
                    <p class="faq-a-text">{{ block.settings.antwoord | newline_to_br }}</p>
                  </div>
                </div>
              </div>{%- endif -%}{%- endfor -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","faq-footer-pdp");</script>
        
{% schema %}{
  "presets": [
    {
      "name": "V1 - FAQ"
    }
  ],
  "name": "V1 - FAQ",
  "tag": "div",
  "class": "faq-footer-pdp",
  "settings": [
    {
      "type": "textarea",
      "id": "titel",
      "label": "Titel",
      "default": "Questions? We have got answers."
    },
    {
      "type": "textarea",
      "id": "paragraph",
      "label": "Paragraph",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
    }
  ],
  "blocks": [
    {
      "name": "FAQ",
      "type": "faq",
      "settings": [
        {
          "type": "textarea",
          "id": "vraag",
          "label": "Vraag",
          "default": "Hoe snel wordt het kussen warm?"
        },
        {
          "type": "textarea",
          "id": "antwoord",
          "label": "Antwoord",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
        }
      ]
    }
  ]
}{% endschema %}