<div class="legal-content">
    <div class="page-padding">
      <div class="container-v1">
        <div class="page-heading-container">
          <h1 class="h1-page" data-page-item="title">{{ page.title }}</h1>
        </div>
        <div class="legal-richtext w-richtext" data-page-item="content">{{ page.content }}</div>
      </div>
    </div>
  </div>